@import "./_utils.scss";

@font-face {
  font-family: 'Pricedown';
  src: url("./fonts/pricedownbl.ttf");
}

* {
  box-sizing: border-box;
}

html, body, main {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Pricedown';
  font-weight: 400;
  overflow-x: hidden;
}

