@import "./_utils.scss";

.main {
  padding-top: 66px;
  padding-bottom: 0;
}

.navbar {
  padding: 8px;
  background-color: #FFFFFF;
  width: 100vw;
  height: auto-clamp(40, 66);;
  position: fixed;
  top: 0;
  z-index: 15;
}

.mobileLine {
  display: none;
  justify-content: space-between;
  align-items: center;

}

.toggleButton {
  background-color: #5864E1;
  border-radius: 11px;
  display: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #FFFFFF;
  padding: 3px 10px;
  width: fit-content;
}

.buttonSet {
  display: flex;
  align-self: center;
  gap: 16px;
  justify-self: center;
}

.buttonSet.visible {
  display: flex;
}

.activelink, .link {
  text-decoration: none;
  font-size: auto-clamp(20, 35);
  padding: 6px 12px;
}

.activelink {
  color: #FFFFFF;
  background-color: #15193E;
  border-radius: 11px;
}

.link {
  color: #15193E;
}

.videoBlock {
  margin-top: auto-clamp(40, 66);
  width: 100vw;
}

.bg1 {
  background: url("/bg.svg");
}

.linkBlock {
  position: relative;
}

.linkDivider {
  width: 100vw;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.linkSet {
  padding-top: 90px;
  display: flex;
  gap: 35px;
  justify-self: center;
}

.mobileLinkSet {
  display: flex;
  justify-self: center;
  gap: 10px;
}

.socialBorder {
  width: auto-clamp(45, 84);
  height: auto-clamp(45, 84);
  padding: auto-clamp(5, 12);
  background-color: white;
  border-radius: auto-clamp(8, 11);
}

.socialImage {
  width: auto-clamp(35, 60);
  height: auto-clamp(35, 60);
}

.socialLabel {
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 25px;
  padding-bottom: auto-clamp(60, 130);
}

.space {
  display: none;
}

.imgBlock1 {
  border: 1px solid red;
  width: 100vw;
  height: fit-content;
}

.img1 {
  width: 100vw;
  height: auto;
}

.img1mob{
  display: none;
}

.textBlock1 {
  width: 100vw;
  position: relative;
}

.window1bg {
  width: 100vw;
  height: auto;
}

.window1container {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  gap: auto-clamp(60, 150);
}

.window1image {
  width: auto-clamp(260, 430);
  height: auto-clamp(450, 830);
}

.window1text {
  max-width: 970px;
  font-size: auto-clamp(26, 40);
  color: black;
  text-align: right;
  align-self: center;

  a {
    color: #4C3981;
    font-size: auto-clamp(34, 48);
  }
}

.textBlock2 {
  position: relative;
}

.window2bg {
  width: 100vw;
  height: auto;
}

.window2container {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  gap: auto-clamp(60, 150);
}

.window2text {
  max-width: 970px;
  font-size: auto-clamp(24, 40);
  color: black;
  text-align: left;
  align-self: center;
}

.window2image {
  width: auto-clamp(260, 430);
  height: auto-clamp(450, 830);
}


.bg2 {
  padding-top: 20px;
  background: url("/bg2.svg");
}

.imgBlock2 {
  width: 100vw;
  height: auto;
}

.img2 {
  width: 100vw;
  height: auto;
}

.img2mob {
  display: none;
}

.footer {
  width: 100vw;
  height: auto-clamp(250, 500);
  overflow: hidden;
  margin-bottom: -5px;
}

.divider {
  object-fit: cover;
}


@media (max-width: 768px) {
  .navbar {
    height: 66px;
  }
  .videoBlock {
    margin-top: 66px;
  }
  .mobileLine {
    display: flex;
  }
  .buttonSet {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 8px;
    background-color: #FFFFFF;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    padding: 16px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .img1 {
    display: none;
  }

  .img1mob {
    width: 100vw;
  }

  .toggleButton {
    display: block;
  }

  .linkBlock {
    display: none;
  }

  .textBlock1 {
    display: none;
  }

  .textBlock2 {
    display: none;
  }

  .img2 {
    display: none;
  }

  .img2mob {
    width: 100vw;
    height: auto;
  }
}